<p>This is the exact primary navigation rendered in the header, shown again here so you can see its markup in context:</p>
<div class="demo__live-widget demo__live-widget--nav">
  {% set navStandalone = true %}
  {% include "components/nav-primary.njk" %}
</div>
