$breakpoint-sm: 40rem;
$breakpoint-md: 56rem;
$breakpoint-lg: 75rem;

$font-sans:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
$font-mono: ui-monospace, "JetBrains Mono", "SFMono-Regular", Menlo, Consolas, "Liberation Mono", monospace;
