<footer class="site-footer">
  <div class="wrapper site-footer__inner">
    <p class="site-footer__colophon">
      &copy; {{ site.year }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>. Built with
      <a href="https://www.11ty.dev/">11ty</a>.
    </p>
    <ul class="site-footer__links">
      <li><a href="/feed.xml">RSS</a></li>
      <li><a href="https://github.com/Vranjan7077/11ty-demos" target="_blank" rel="noopener">GitHub</a></li>
    </ul>
  </div>
</footer>
