<div class="search" data-search>
  <input
    type="search"
    class="search__input"
    placeholder="Search demos…"
    aria-label="Search demos"
    autocomplete="off"
    data-search-input
  >
  <ul class="search__results" data-search-results hidden></ul>
</div>
