.pagefind-search {
    --pagefind-ui-scale: 0.9;
    --pagefind-ui-primary: var(--color-fg);
    --pagefind-ui-text: var(--color-fg);
    --pagefind-ui-background: var(--color-bg);
    --pagefind-ui-border: var(--color-fg);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 0;
    --pagefind-ui-font: var(--font-sans);
}
