---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all %}
  {%- if entry.url and entry.url.endsWith("/") %}
  <url>
    <loc>{{ site.url }}{{ entry.url }}</loc>
    {%- if entry.date %}
    <lastmod>{{ entry.date | htmlDateString }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
{%- for tag in collections.demoTags %}
  <url>
    <loc>{{ site.url }}/demos/tags/{{ tag | slugify }}/</loc>
  </url>
{%- endfor %}
{%- set blogPageSize = 3 -%}
{%- set totalBlogPages = (collections.posts.length / blogPageSize) | round(0, "ceil") -%}
{%- for i in range(1, totalBlogPages) %}
  <url>
    <loc>{{ site.url }}/blog/{{ i + 1 }}/</loc>
  </url>
{%- endfor %}
</urlset>
